body{width: 1440px;
  height: 4268px;
  background: #FFFEFD;}
.mobile{width: 100%;
        height: 100%;}
.et{width: 1189px;
  height: 185px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  width: 50%; 
  margin:0 auto;
  padding-top: 50px;
h1{font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;}
p1{width: 312.259px;
  height: 57.736px;
  flex-shrink: 0;
  font-family: CormorantGaramond;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}}
 .plafond { img { width: 100%;}} 
.logo {position: absolute;
  height: 185px;
  left: 70px;
margin-left: 5px;
padding-top: 30px;
  }

h3{display: flex;
  width: 50%; 
  margin:0 auto;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: CormorantGaramond;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;}



.AP{flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: CormorantGaramond;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
   }
  
h6{display: flex;
  width: 150px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: OpenSans;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  background: #FFD3AB;
  margin: auto;
  margin-bottom: 30px;}
  


.o {column-count: 2; 
  width: 80%; 
  margin:0 auto;
  column-gap: 50%; }

.bloc{display: flex;
 flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: OpenSans;
  font-size: 20px;
  gap: 0,5cm;}


.formulaire {
  background-color: #FFD3AB;
  padding: 20px;
  border-radius: 10px;
}
  h7{text-align: center;
        font-weight: bold;}
      p3 {text-align: center;}

form {
  display: flex;
  flex-direction: column;
}

label { margin-bottom: 5px;
        color: #000;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;}
 .name {display: flex;}
 .Asterix{color: #F00;} 

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #000000;
  color: #FFD3AB;
}


  header {
    background-color: #ffffff; 
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Style pour le lien actif */
  nav li.active a {
    color: #ffffff; /* Couleur différente pour le lien actif */
  }
  

  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration-line: underline;
    color: white;
    font-size: 16px;
}

section {
    margin-top: 60px;
    padding: 20px;
}

h3 {
    color: #333;
}


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

footer {
  background-color: #FFD3AB;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  margin: 0 15px;
  color: #000;
  text-align: center;
}

.footer-column h3 {
  font-size: 1.2em;
}

 
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.column {
  text-align: center;
}

.column img {
  max-width: 100%;
  height: auto;
  border-radius: 0%; 
}

.column h2 {
  margin-top: 10px;
}

  nav ul {
      text-align: center;
      margin-top: 10px;
  }

  nav li {
      display: block;
      margin: 0;
  }

.footer2 {
  background-color: #FFD3AB;
  padding: 10px ;
}

.footer2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.social-icons img {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

.contact-info p {
  margin: 0;
  font-size: 16px;
  color: #000;
}

.contact-info i {
  margin-right: 5px;
  font-size: 18px;
}
h4{text-align: center;}

/* Styles pour les résolutions jusqu'à 1440px */
@media only screen and (max-width: 1440px) {
  body {
    width: 100%;
  }

  .et {
    width: 100%;
  }

  h1 {
    font-size: 3em;
  }

  p1 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 2em;
  }

  .AP {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1em;
  }

  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

/* Styles pour les résolutions jusqu'à 1024px */
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }

  p1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.8em;
  }

  .AP {
    font-size: 1.2em;
  }

  h6 {
    font-size: 0.9em;
  }
}

/* Styles pour les résolutions jusqu'à 768px */
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px; 
  }

  h1 {
    font-size: 2em;
  }

  p1 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .AP {
    font-size: 1em;
  }

  h6 {
    font-size: 0.8em;
  }

  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

/* Styles pour les résolutions jusqu'à 480px */
@media only screen and (max-width: 480px) {

  .et{width: 234px;
    height: 58px;
    flex-shrink: 0; 
    h1 {font-size: 24px;}

  p1 {
    font-size: 19px;
    }}

.logo {width: 64px;
  height: 62px;
  flex-shrink: 0;
padding-left: 46px ;}}

  h3 {
    font-size: 1.2em;
  }

  .AP {
    font-size: 0.9em;
    .mob{object-position: bottom;}
  }
  

  h6 {
    font-size: 0.7em;
  }

  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

